/* Add responsive design */
@media (max-width: 768px) {
	select, p {
			width: 90%;
			min-width: unset;
	}
}


/* Modern system font stack */
:root {
  --font-heading: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 1.2;

	font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 1.5rem;
}

body {
  margin: 0;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  background-color: aliceblue;
	font-family: var(--font-body);
  line-height: 1.5;
  color: #333;
}

select, button {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
	font-family: var(--font-body);
  font-size: 1rem;
}

select, p {
  padding: 10px;
  position: relative;
  display: block;
  width: 35%;
  min-width: 350px;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
}

select {
	max-height: 200px;
	overflow: auto;
}


button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  min-width: 140px;
}

button:disabled {
	background-color: #cccccc;
	cursor: not-allowed;
}

.loading {
	opacity: 0.7;
	cursor: wait;
}
/* Add to style.css */

select:focus, button:focus {
  outline: 2px solid #4CAF50;
  outline-offset: 2px;
}

[role="alert"] {
  color: #721c24;
  background-color: #f8d7da;
  padding: 12px;
  margin: 8px 0;
  border-radius: 4px;
}

select:hover {
	border-color: #4CAF50;
}

/* Add focus styles */
select:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}